/* Swup reveal transition */
#swup.transition-reveal {
  background-color: white;
}

#smooth-content {
  background-color: white;
}

a:visited {
  color: black;
}

p {
  max-width: 75ch;
}

.role-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  column-gap: var(--space-2xs);
  row-gap: var(--space-2xs);
}

.role-container p {
  margin-top: 0;
}

.role-container span {
  font-weight: 800;
}

#delivery-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: var(--space-xs);
  padding-top: var(--space-xs);
}

#hero-image-container {
  width: 100%;
  height: auto;
}

#hero-video-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#hero-description {
  font-style: italic;
  margin-top: var(--space-xs);
  margin-left: var(--space-md);
}

#management-problem-section {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-sm);
  margin-block: var(--space-md);
  padding-inline: var(--space-md);
  justify-content: center;
  align-items: center;
}

#problem-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--space-md);
}

.problem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a3b4c;
  color: white;
  padding-inline: var(--space-md);
  padding-block: var(--space-md);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
  border-radius: 1rem;
  visibility: hidden;
}

.problem h3 {
  margin-top: 0;
  margin-bottom: var(--space-sm);
}

.problem p {
  max-width: 75ch;
}

#bookingform-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: var(--space-xs);
  padding-inline: var(--space-md);
}

#booking-img-section,
#login-img-section {
  display: flex;
  flex-direction: row;
  column-gap: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.img-container p {
  margin-top: 0;
  font-style: italic;
  font-weight: 300;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#backend-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: var(--space-md);
}

#db-and-docker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--space-md);
}

#db-and-docker img {
  object-fit: contain;
}

#admin-dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: var(--space-lg);
}

#admin-dashboard-text {
  padding-inline: var(--space-md);
}

#admin-images {
  display: flex;
  flex-direction: column;
  padding-inline: var(--space-md);
}

#admin-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2xs);
}

.section-title {
  justify-self: center;
}

.image-caption {
  padding-left: var(--space-md);
}

#security-text,
#restriction-text,
#edit-text {
  padding-inline: var(--space-md);
}

#admin-dashboard-text #admin-dashboard-text,
#admin-section-text,
#bookingform-text,
#backend-text,
#security-text,
#restriction-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booking-route {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding-inline: var(--space-md);
}

#booking-flow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#booking-logic-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2xs);
  list-style-type: none;
  align-items: center;
  padding-left: 0;
}

#restriction-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--space-md);
  column-gap: var(--space-sm);
  align-items: flex-start;
  justify-self: center;
}

#restriction-images img {
  object-fit: contain;
}

#security {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-sm);
}

#edit-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: var(--space-md);
  column-gap: var(--space-sm);
}

#edit-images img {
  object-fit: contain;
}

#edit-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#management-project-outcome {
  padding-left: var(--space-md);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--space-md);
}

@media screen and (max-width: 1024px) {
  #booking-img-section,
  #login-img-section {
    padding-inline: var(--space-md);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: var(--space-md);
  }
  .image-caption {
    padding-left: 0;
  }
  #admin-dashboard {
    display: flex;
    flex-direction: column;
  }
  #admin-dashboard-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--space-sm);
  }
}

@media screen and (max-width: 768px) {
  #problem-div {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: var(--space-md);
  }
  #booking-img-section,
  #login-img-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: var(--space-lg);
  }
  #booking-route,
  #restriction-images,
  #edit-images,
  #db-and-docker {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-block: var(--space-md);
    row-gap: var(--space-lg);
  }
}

@media screen and (max-width: 480px) {
  .role-container {
    flex-direction: column;
    align-items: flex-start;
  }
  #management-problem-section,
  #admin-dashboard-text,
  #bookingform-text,
  #backend-text,
  #security-text,
  #backend-text,
  #restriction-text,
  #edit-text,
  #management-project-outcome {
    align-items: flex-start;
  }
}
