#swup.is-changing {
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
  height: 100vh;
}

.is-newcontainer,
.is-previous-container {
  grid-area: 1/1;
  min-height: 100vh;
}

.is-new-container {
  z-index: 2;
}

.is-previous-container {
  z-index: 1;
}
